{% extends 'analyzer_main/main.html' %}
{% load static %}

{% block content %}



<br>

<div class="row">
  <div class="col-xl-7">
    <h5>Leagues</h5>
    <hr>
    <div class="card card-body">
      {% if error == True %}
        <div class="alert alert-danger" role="alert">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg>
          {{errormsg}}
        </div>
      {% endif %}
      <a class="btn btn-primary" href="{% url 'make_team' %}">Add New League</a>
      <!-- <p id="hidden-message" style="display: none;">Loading Team... Please Wait</p>
      <div id="welcomeDiv" class="loader" style="display: none;"></div> -->

      <table class="table table-sm">
        <tr>
          <th>Name</th>
          <th>Rankings</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        {% for i in leagues %}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.user_ranking}}</td>
          <td><a class="btn btn-sm btn-info view-ranks" onclick="showLoaderOnClick('{% url 'league_view' i.league_id %}')">View</a></td>
          <td><a class="btn btn-sm btn-info" href="{% url 'update_team' i.league_id %}">Update</a></td>
          <td><a class="btn btn-sm btn-danger" href="{% url 'delete_team' i.league_id %}">Delete</a></td>
        </tr>
        {% endfor %}

      </table>
      <div class="alert">
        <ul>
          <li><p>League ID has to be updated on league transitions for new seasons</p></li>
        </ul>

      </div>
    </div>
    <br>
  </div>
  <div class="col-xl-5">
    <h5>Rankings</h5>
    <hr>
    <div class="card card-body">
      <a class="btn btn-primary" href="{% url 'make_ranking' %}">Create New Rankings</a>
      <table class="table table-sm">
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        {% for i in rankings %}

        <tr>
          <td>{{i.name}}</td>
          <td>{{i.date_created}}</td>
          <td><a class="btn btn-sm btn-info" href="{% url 'ranking_view' i.name %}">View</a></td>
          <td><a class="btn btn-sm btn-info" href="{% url 'update_ranking' i.name %}">Update</a></td>
          <td><a class="btn btn-sm btn-danger" href="{% url 'delete_ranking' i.name %}">Delete</a></td>
        </tr>

        {% endfor %}

      </table>
    </div>

  </div>


</div>
<script type="text/javascript" src="{% static '/js/dashboard.js' %}"></script>

{% endblock content %}
