{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/loader.css' %}">

    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js" integrity="sha512-R/QOHLpV1Ggq22vfDAWYOaMd5RopHrJNMxi8/lJu8Oihwi4Ho4BRFeiMiCefn9rasajKjnx9/fTQ/xkWnkDACg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <style media="screen">
    .fa {
    /* padding: 20px; */
    font-size: 35px;
    width: 40px;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
  }

    .fa:hover {
    opacity: 0.7;
  }
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-youtube {
    background: #FF0000;
    color: white;
  }

  .fa-instagram {
    background: white;
    color: #C13584;
  }
  </style>

  </head>
  <body>
    {% include 'analyzer_main/navbar.html' %}

    {% block content %}



    {% endblock %}

    <br>
    <hr>
    <footer class="text-lg-start text-muted">
      <div class="container-fluid">


        <div class="row">


          <div class="col-md-3 col-sm-3 d-none d-sm-block">
            <img src="{% static '/images/logo.png' %}" alt="" height=125 width=125>
          </div>

          <div class="col-md-9 col-sm-9">
            <div class="row">
              <!-- <div class="col">
                <br>
                <br>
                <a href="https://3rdand20.com/" class="me-4 text-reset">Blog</a>
              </div> -->
              <div class="col">
                <br>
                <br>
                <a href="https://twitter.com/3rdand20_?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>
              </div>
              <div class="col">
                <br>
                <br>
                <a href="https://www.instagram.com/3rdand20podcast/" class="fa fa-instagram"></a>

              </div>
              <div class="col">
                <br>
                <br>
                <a href="https://www.youtube.com/channel/UCgVLgU8SXgRXo-ofM9vuZ8A" class="fa fa-youtube"></a>

              </div>
              <div class="col">
                <br>
                <p class="me-4 text-reset">Contact Us:</p>
                <p class="me-4 text-reset">3rdand20football@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://3rdand20.com/">3rdand20.com</a>
      </div>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
