{% extends 'analyzer_main/main.html' %}

{% block content %}
{% load static %}


<br>
<div class="container">
  <div class="row">
    <div class="col">
      <form action="" method="POST">
        {% csrf_token %}
        <!-- {{form}} -->
        <h5>{{ form.name.label }}</h5>
        {{form.name}}
        <br>
        <br>
        <h5>Sleeper League ID</h5>
        {{form.league_id}}
        <br>
        <br>
        <h5>Rankings</h5>
        {{form.user_ranking}}
        <br>
        <br>
        <h5>Draft Order</h5>
        {{form.draft_order}}
        <br>
        <br>
        <input type="submit" value="Submit" class="btn btn-lg btn-info">
      </form>
      <br>
      {% if error %}
        {{error}}
      {% endif %}
    </div>
    <div class="col">
      <h6>Sleeper League ID can be found in the URL of Your League:</h6>
      <img src="{% static '/images/demo.png' %}" alt="">
      <br>
      <br>
      <h6>The League ID can also be found in the Sleeper App:</h6>
      <p>Navigate to your league -> click "League" -> click the gear -> navigate to the "General" tab -> scroll to the bottom and click copy league ID</p>
      <img src="{% static '/images/app_demo.jpg' %}" alt="">
      <br>
      <br>
    </div>
  </div>
</div>


{% endblock content %}
